[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
pyside6 = "=6.6.2"
darkdetect = "*"
alive-progress = "*"
psutil = "*"
strictyaml = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.10"
